body {
  font: 14px "Helvetica", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.tile {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.tile-selected {
  border: 3px solid rgba(41, 128, 185, 1.0);
  /* background-color: rgba(52, 152, 219, 0.5); */
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 5px,
    #465298 5px,
    #465298 10px
  );
}

.tile-moveHighlighted {
  border: 3px dashed rgba(39, 174, 96, 1.0);
  background-color: rgba(46, 204, 113, 0.5);
}

.tile-actionHighlighted {
  border: 3px solid rgba(211, 84, 0,1.0);
  background-color: rgba(230, 126, 34, 0.5);
}

.tile-actionHighlighted:hover {
  border: 3px solid rgba(192, 57, 43, 1.0);
  background-color: rgba(231, 76, 60, 0.5);
}

.tile:focus {
  outline: none;
}

.kbd-navigation .tile:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.unit {
  font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji" !important;
  display: block;
}

.unit-health {

}

.unit-health-background {
  position: relative;
  left: 7px;
  bottom: 27px;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  padding-right: 1px;
}

.unit-health-team1 {
  color: white;
}

.unit-health-background-team1 {
  background-color: green;
}

.unit-health-team2 {
  color: white;
}

.unit-health-background-team2 {
  background-color: red;
  border-radius: 8px;
}

ol {
  height: 300px;
  min-width: 300px;
  overflow: hidden; 
  overflow-y: scroll;
}

.game-end-text {
  font-size: 128px;
  color: rgba(39, 174, 96, 1.0);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
}

.unit-move-enter {
  opacity: 0.01;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.unit-move-enter.unit-move-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  animation-name: bounce;
  transform-origin: center bottom;
}

.unit-move-leave {
  opacity: 1;
}

.unit-move-leave.unit-move-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.unit-dead-leave {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.unit-dead-leave.unit-dead-leave-active {
  animation-name: fadeOutUp;
}

.unit-attack {
  animation-duration: 0.3s;
  animation-name: attack;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes attack {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30% {
    transform: translate3d(7px, 0, 0);
  }
}